/* @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Russo One", sans-serif; */
  /* font-family: 'Radio Canada', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #212121;
}

.slider {
  display: flex;
  width: 100vw;
  /* part2 */
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
  /* animation: loop 20s 2s ease-out infinite; */
}

.slide {
  position: relative;
  height: 40vh;
  flex: 1;
  border: 1px solid #000;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  font-size: 10vw;
  width: 14vw;
  height: 14vw;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.slide:nth-child(1) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?sky");
}
.slide:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?ocean");
}
.slide:nth-child(3) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?forest");
}
.slide:nth-child(4) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?grassland");
}
.slide:nth-child(5) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?stars");
}
.slide:nth-child(6) {
  background-image: url("https://source.unsplash.com/random/1920×1080/?landscape");
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  5%,
  20% {
    transform: translateX(-100vw);
  }
  25%,
  40% {
    transform: translateX(-200vw);
  }
  45%,
  60% {
    transform: translateX(-300vw);
  }
  65%,
  80% {
    transform: translateX(-400vw);
  }
  85%,
  100% {
    transform: translateX(-500vw);
  }
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 6vw;
  position: relative;
  top: 2vh;
}

h1 {
  font-size: 20vw;
  color: rgba(255, 255, 255, 0.92)
}

h3 {
  position: relative;
  bottom: 4vh;
  padding: 0 2vw;
  font-size: 10vw;
  background-color: rgb(255, 234, 0);
  transform: skewX(-20deg);
}
